

.app-container { 
    background-image: url('../assets/portugal_facts2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;



    .top-section {
        align-items: center;
        // background-color: var(--top-bg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px 0;

        .title {
            color: var(--title-text-color);
            font: 700 120px/126px 'Kanit', sans-serif;
            text-shadow: 0 1px 7px rgba(black, 0.1);
        }
        
        .subtitle {
            color: var(--title-text-color);
            font: 400 36px/36px 'Kanit', sans-serif;
            text-shadow: 0 1px 4px rgba(black, 0.1);
        }
    }

    .content-section {
        // background-color: var(--middle-bg-color);
        flex-grow: 1;
        // needed for overflow-y behavior in component container
        min-height: 0;
    }

    .bottom-section {
        // background-color: var(--bottom-bg-color);
        display: flex;

        rb-action-buttons {
            margin: auto;
        }
    }
}