<div class="app-container" data-test-id="app-container">

  <div class="top-section" data-test-id="top-section">

    <p class="title" data-test-id="title">
      {{title}}
    </p>
    <p class="subtitle" data-test-id="subtitle">
      {{subtitle}}
    </p>

  </div>


  <div class="content-section" [@routeAnim]="prepareRoute(outlet)"  data-test-id="content-section">
    
    <router-outlet #outlet="outlet"></router-outlet>

  </div>

  <div class="bottom-section" data-test-id="bottom-section">
    <rb-action-buttons></rb-action-buttons>
  </div>

</div>
