

<div class="notes-container">

    <div class="content-container">

        <div class="notes-list">

            <ng-container *ngFor="let note of notes$ | async">

                <rb-note-card [note]="note"
                              (selectedNote)="handleSelectedNote($event)"
                ></rb-note-card>

            </ng-container>

        </div>

        <div class="buttons-container centered">

            <a routerLink="/notes/add" class="app-button" data-test-id="add-button">
                <i class="material-icons-outlined">add</i>
                <p>Add</p>
            </a>
            
        </div>
    
    </div>

</div>