

.add-note-container {
    border-radius: 4px;
    max-height: 100%;
    overflow: auto;
    padding: 35px;

    &.has-blurred-white-bg {
        background: rgba(white, 0.85);
        backdrop-filter: blur(20px);
    }
    
    .title {
        font: 600 24px/28px var(--title-font-family);
        letter-spacing: -2px;
        margin-bottom: 25px;
    }

    .title-input {
        margin-bottom: 20px;
    }
    
    .title-input, .text-area {
        background-color: rgba(white, 0.85);
        border: 2px solid rgba(black, 0.3);
        border-radius: 4px;
        font-family: inherit;
        padding: 8px 10px;
        width: 100%;
        
        &:hover {
            background: rgba(white, 0.95);
        }
        
        &:focus {
            background-color: white;
            outline: none;
        }
        
        &:hover, &:focus {
            border-color: rgba(black, 0.42);
        }
    
    }

    .text-area {
        resize: vertical;
        min-height: 100px;
    }
}

