
// CSS reset
// from https://jgthms.com/minireset.css/
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

// Kanit font
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');
:root {
    --title-font-family: 'Kanit', sans-serif;
    --text-font-family: 'Kanit', sans-serif;
    
    --title-text-color: rgb(56, 85, 81);
    --subtitle-text-color: white;
    --regular-text-color: #222;
    --app-bg-color: ;
    --top-bg-color: aquamarine;
    --middle-bg-color: cadetblue;
    --bottom-bg-color: orange;


}

html {
    color: var(--regular-text-color);
    font-family: var(--title-font-family);
    height: 100%;
    
    body {
        height: 100%;
        margin: 0;
    }

}

// Global for middle container
.content-container {
    max-width: 850px;
    margin: auto;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    
    &.centered {
        justify-content: center;
        
    }
    
    &.justify-right {
        justify-content: flex-end;

    }

    .app-button {
        align-items: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: inline-flex;
        padding: 12px 22px;
        background: rgba(black, 0.7);
        color: white;
        font-family: var(--text-font-family);
        font-size: 18px;
        text-decoration: none;
    
        p {
            margin: 0 6px;
        }
    
        &:hover {
            background: rgba(black, 0.78);
            backdrop-filter: blur(2px);
        }
        
        &:active {
            background: rgba(black, 0.85);
        }
    }
}

