<div class="action-buttons-container">
    
    <div class="button-container bookmark-tab">
        
        <div class="action-button">
            <i class="material-icons-outlined">bookmarks</i>
        </div>
        
    </div>
    
    <div class="button-container todo-tab">
        
        <div class="action-button ">
            <i class="material-icons-outlined">check</i>
        </div>
        
    </div>
    
    <div class="button-container notes-tab">
        
        <div class="action-button">
            <i class="material-icons-outlined">notes</i>
        </div>
    
    </div>

</div>