<div class="action-buttons-container">
    
    <a routerLink="bookmarks"
        routerLinkActive="selected"
        class="action-button bookmarks-button"
        data-test-id="bookmarks-button"
        >
        
        <div class="action-button-front">
            <i class="material-icons-outlined">bookmarks</i>
        </div>
        
    </a>
    
    <a routerLink="todos" routerLinkActive="selected" class="action-button todo-button">
        
        <div class="action-button-front">
            <i class="material-icons-outlined">check</i>
        </div>
        
    </a>
    
    <a routerLink="notes" routerLinkActive="selected" class="action-button notes-button">
        
        <div class="action-button-front">
            <i class="material-icons-outlined">notes</i>
        </div>
    
    </a>

</div>