<div class="action-buttons-container">
    
    <a routerLink="bookmarks" routerLinkActive="selected" class="button-container bookmark-tab">
        
        <div class="action-button">
            <i class="material-icons-outlined">bookmarks</i>
        </div>
        
    </a>
    
    <a routerLink="todos" routerLinkActive="selected" class="button-container todo-tab">
        
        <div class="action-button ">
            <i class="material-icons-outlined">check</i>
        </div>
        
    </a>
    
    <a routerLink="notes" routerLinkActive="selected" class="button-container notes-tab">
        
        <div class="action-button">
            <i class="material-icons-outlined">notes</i>
        </div>
    
    </a>

</div>